body {
  font-family:
    Kanit,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.tab-menu {
  list-style: none;
  margin: 0;
  padding: 5px 10px;
  background: radial-gradient(
    100% 100% at 50% 0,
    #eaeaea 0,
    #d6d6d6 44%,
    #b4b4b4 100%
  );
  position: relative;
  box-shadow: 0 5px 10px #000000b0;
  border-radius: 20px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}
